<!DOCTYPE html>
<html>
  <head>
<style>

.jumbotron-hero {background-image: url(https://cdn.pixabay.com/photo/2014/12/24/22/04/light-579290_960_720.jpg);}
p {font-family: Verdana;}
h1 {font-family: Courrier New;}
h2 {font-family: Verdana}

.navbar {font-family: Verdana}
</style>



  <!-- CND BOOTSTRAP -->

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>




    <title>Eventbrite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="text-center">

<div class="jumbotron jumbotron-hero">
  <div class="container">
    
    <div class= "text-white">
    <h1 class="display-4"> Eventbrite bis</h1>
    </div>  
    </div>
</div>




   
<!-- Navbar -->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" <%= link_to "Eventbrite", root_path %> >
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">

    <% if @user = current_user %> 

        <li class="nav-item">
        <a class="nav-link" <%= link_to "Mon profil", user_path(current_user) %> </a>
      </li>


        <li class="nav-item">
        <a class="nav-link" <%= link_to "Créer un évenement", new_event_path %> </a>
      </li>

      <li class="nav-item">
        <a class="nav-link" <%= link_to "Se déconnecter", destroy_user_session_path, method: :delete %> </a>
      </li>


     <% else %>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Options </a>

        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" <%= link_to "S'inscrire", new_user_registration_path %></a>
          <a class="dropdown-item" <%= link_to "Se connecter", new_user_session_path %> </a> 

      <% end %> 
         
        </div>
      </li>
    </ul>
  </div>
</nav>

 <%= yield %> <!-- Pour que le contenu de mon body soit en dessous de ma navbar --> 

  </body>

  <footer>
    
    <div class="card">
  <div class="card-header">
   <p> Une citation inspirante </p>
  </div>
  <div class="card-body">
    <blockquote class="blockquote mb-0">
      <p>"THP, c'est pas facile mais on kiffe.".</p>
      <footer class="blockquote-footer">L'équipe THP Montpellier</footer>
    </blockquote>
  </div>
</div>
  </footer>
</html>
